# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
Pods/ModelMapper/LICENSE
Pods/ModelMapper/README.md
Pods/ModelMapper/Sources/Convertible.swift
Pods/ModelMapper/Sources/DefaultConvertible.swift
Pods/ModelMapper/Sources/Defaults+Convertible.swift
Pods/ModelMapper/Sources/Float+Convertible.swift
Pods/ModelMapper/Sources/Mappable.swift
Pods/ModelMapper/Sources/Mapper.swift
Pods/ModelMapper/Sources/MapperError.swift
Pods/ModelMapper/Sources/NSDictionary+Safety.swift
Pods/ModelMapper/Sources/Transform+Dictionary.swift
Pods/ModelMapper/Sources/Transform.swift
Pods/ModelMapper/Sources/URL+Convertible.swift
Pods/Moya-ModelMapper/LICENSE
Pods/Moya-ModelMapper/README.md
Pods/Moya-ModelMapper/Sources/Moya-ModelMapper/Array+Shims.swift
Pods/Moya-ModelMapper/Sources/Moya-ModelMapper/Response+ModelMapper.swift
Pods/Moya-ModelMapper/Sources/Moya-ModelMapper/ResponseAvailability.swift
Pods/Target Support Files/ModelMapper/ModelMapper-dummy.m
Pods/Target Support Files/ModelMapper/ModelMapper-Info.plist
Pods/Target Support Files/ModelMapper/ModelMapper-prefix.pch
Pods/Target Support Files/ModelMapper/ModelMapper-umbrella.h
Pods/Target Support Files/ModelMapper/ModelMapper.modulemap
Pods/Target Support Files/ModelMapper/ModelMapper.xcconfig
Pods/Target Support Files/Moya-ModelMapper/Moya-ModelMapper-dummy.m
Pods/Target Support Files/Moya-ModelMapper/Moya-ModelMapper-Info.plist
Pods/Target Support Files/Moya-ModelMapper/Moya-ModelMapper-prefix.pch
Pods/Target Support Files/Moya-ModelMapper/Moya-ModelMapper-umbrella.h
Pods/Target Support Files/Moya-ModelMapper/Moya-ModelMapper.modulemap
Pods/Target Support Files/Moya-ModelMapper/Moya-ModelMapper.xcconfig
